//- doctype html                             Here we have designed a basic template which we will extend further in home.pug
html
  head
    title Zumba Dance Academy
    block scripts
    block style
  body
    block content
    block foot